<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>My Node App</title>
</head>

<body>

  <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
    <div class="col-6">
      <p class="font-weight-bold" style="font-size: 1.3rem;">Simple Node - MongoDB app (Product list app)</p>
      <form class="mt-4" method="post" action="/item/add">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" name="name">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" name="quantity">
        <input type="submit" class="form-control mt-3" style="color: white; background-color: rgba(51, 51, 215, 0.81);" value="Add">
      </form>

      <div class="row w-100 m-0 mt-4">
        <p class="font-weight-bold" style="font-size: 1rem;">Product List:</p>
      </div>
      
      <div class="row w-100 m-0" style="font-size: 0.9rem;">
        <ul>
          <% items.forEach(function(item) { %>
          <li>
            <span class="font-weight-bold">Name:</span>  <%= item.name %>
            <br>
            <span class="font-weight-bold">Quantity:</span>  <%= item.quantity %>
            <br>
            <span class="font-weight-bold">Date added:</span> <%= item.date %>
          </li>
          <% }); %>
        </ul>
      </div>
     
    </div>
  </div>
</body>

</html>